<div class="container">
  <mat-card class="example-card" >
    <mat-progress-bar *ngIf="!progress" mode="indeterminate"></mat-progress-bar>
    <p></p>
    <mat-icon color="primary" class="iconUser">lock</mat-icon>
    <button
      matSuffix
      mat-icon-button
      routerLink="/user/login"
      style="position: absolute; right: 1px"
    >
      <mat-icon style="font-size: 25px">closed</mat-icon>
    </button>
    <div class="formDiv">
      <p></p>
      <span>Alterar senha</span>

      <mat-stepper linear #stepper>
        <mat-step [completed]="sendEmailCompleted" [editable]="false">
          <ng-template matStepLabel>E-mail</ng-template>
          <p></p>

          <p>
            Informe seu endereço de e-mail para receber as instruções e um código valido por 10 minutos 
            para criar uma nova senha.
          </p>

          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              matInput
              placeholder="Seu email aqui"
              name="email"
              [formControl]="emailControl"
            />
            <button
              matSuffix
              mat-icon-button
              matStepperNext
              (click)="sendEmail()"
            >
              <mat-icon style="font-size: 25px">send</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="sendEmailCompleted">
            <button
              color="primary"
              mat-raised-button
              matStepperNext
            >
              Próxima Etapa
            </button>
          </div>
        </mat-step>

        <mat-step [completed]="sendCodeCompleted" [editable]="false">
          <ng-template matStepLabel>Código</ng-template>

          <p>
            Informe o código enviado para o seu e-mail para poder prosseguir.
          </p>

          <mat-form-field>
            <mat-label>Código</mat-label>
            <input
              type="number"
              matInput
              placeholder="123456"
              name="code"
              [formControl]="codeControl"
            />
            <button
            matSuffix
            mat-icon-button
            matStepperNext
            (click)="sendCode()"
          >
            <mat-icon style="font-size: 25px">send</mat-icon>
          </button>
          </mat-form-field>
          <div>
            
            <button
              mat-button
              (click)="stepper.reset()"
              (click)="resetChangePassword()"
            >
              Reenviar e-mail
            </button>

            <button
              color="primary"
              matSuffix
              mat-raised-button
              matStepperNext
              *ngIf="sendCodeCompleted" 
            >
            Próximo
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]="changePassword" [editable]="false">
          <ng-template matStepLabel>Nova senha</ng-template>
          <form [formGroup]="changePassword">
            <mat-form-field>
              <mat-label>Senha antiga</mat-label>
              <input
                matInput
                [type]="hideOldPassword ? 'password' : 'text'"
                name="newPassword"
                formControlName="newPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideOldPassword = !hideOldPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideOldPassword"
              >
                <mat-icon style="font-size: 25px"
                  >{{ hideOldPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>
            </mat-form-field>

            <p></p>

            <mat-form-field>
              <mat-label>Senha nova</mat-label>
              <input
                matInput
                [type]="hideNewPassword ? 'password' : 'text'"
                name="confirmNewPassword"
                formControlName="confirmNewPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPassword"
              >
                <mat-icon style="font-size: 25px"
                  >{{ hideNewPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>
            </mat-form-field>
          </form>
          <div>
            <button mat-button (click)="sendNewPasswor()">Salvar</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </mat-card>
</div>
