*{
    font-weight: 300;
    text-decoration:none;
}
.sidenav{
    background-color: rgb(253, 250, 255);
    width: 200px;
     
}

 mat-icon {
    padding-right: 10px;   
}


.close{
    position: relative;
    left: 10%;
    font-size: 20px;
   
}

.spanclose{
    position: relative;
    left: 45px;
    
}
mat-list{
    width: 15rem;
    div{
        padding-left: 2%;
    }
}


mat-toolbar-row {
    background-color: #ffcb74;
    color: #111111;
    
   
   
}
.example-full-width {
    width: 100%;
    position: relative;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;

    mat-icon:hover {
        background-color: rgba(145, 145, 145, 0.733);
        border-radius: 13px;
       
    }
}

#favoriteList:hover{
    background-color: #ffcc743b;
}

@media only screen and (min-width: 800px){
    #search{
        visibility: hidden;
    }
  
  }

