.container {
  padding: 19px;
  min-height: 100%; 

  .title{
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.2;
  }
 
}

.searchUser{
  display: grid;
  position: absolute;
  right: 30px;

}

.fab{
  position: fixed;
  bottom: 75px;
  right: 20px;

  span{
      background-color: #6200EE;
      color: white;
      padding: 10px;
      padding-right: 20px;
      border-radius: 20px;
  }
}
table {
  width: 100%;
  margin-top: 50px;
}

.example-card {
   margin: 10px;
  max-width: 200px;
}

.elevationCard {
  box-shadow: 7px 7px 14px #bec6c8,
    -7px -7px 14px #fcffff;
  border-radius: 15px;
}